@page "/order/{CustomerOrderId}/edit"

<style>
    .main-title {
        text-align: center;
        margin-bottom: 1.2em;
    }
</style>

<h1 class="row main-title">
    Customer Order Editing Manager
    <NavLink class="ml-auto mr-4 nav-link" href="customerorders">
        Go Back
        <span class="oi oi-arrow-right" aria-hidden="true"></span>
    </NavLink>
</h1>

@if (CustomerOrder == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <CustomerOrderForm ButtonTitle="Edit Order" SubmitForm="@EditCustomerOrder" CustomerOrder="@CustomerOrder"></CustomerOrderForm>
    <button type="button" class="btn btn-danger mt-2" @onclick="@DeleteCustomerOrder">Delete</button>
}