@page "/"

<style>
    .main-title {
        text-align: center;
        margin-bottom: 1.2em;
    }

    .main-div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .welcome-text {
        font-size: x-large;
        margin-bottom: 0.5em;
        padding: 5em;
    }
</style>

<h1 class="main-title">Car Mechanic Office</h1>

<div class="main-div">
    <p class="welcome-text">
        This client application deployed in a Car Repair Ordering Office. An ordering clerk can record and store car repair order for incoming customers
    </p>
</div>
